.about-us-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.about-us-filter{
    background-color: rgba(0,0,0,0.5);
    border-radius: 2em;
    padding: 1em;
}

.about-us-title-text{
    color: white;
    font-size: 3em;
    font-weight:100;
}

.about-us-title-text-color{
    font-style: oblique;
    font-size: 3em;
    font-weight:500;
    color:  #fff7bd;;
}

.about-us-text{
    color: white;
    font-size:1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.about-us-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}