.dashboard-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-text-font{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4em;
    font-weight:100;
    line-height: 1em;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
