.menu-bar{
    margin-left: 20%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    float: right;
}

.menu-item{
    size: 1000px;
    margin: 5%;
}

.menu-item-text{
    font-size:10px;
    font-weight: 300;
}

.top-bar-text{
    color: white;
    font-size: 4vw;
    font-weight:100;
}

.top-bar-text-color{
    font-style: oblique;
    font-size: 4vw;
    font-weight:500;
    color: #fff7bd;
}

.page-name{
    display:flex;
    align-items:center;
}