.catalogue-container{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    margin-bottom: 1em;
}

.catalogue-filter{
    background-color: rgba(0,0,0,0.5);
    border-radius: 2em;
    padding: 1em;
}

.catalogue-title-text-color{
    font-style: oblique;
    font-size: 3em;
    font-weight:500;
    color:  #fff7bd;;
}

.catalogue-title-text{
    color: white;
    font-size: 3em;
    font-weight:100;
}

.catalogue-text{
    color: white;
    font-size:1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.stepper-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.catalogue-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalogue-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}